extends layout
include ./mixins/search.jade

block content
  h1 Package Search
  p Welcome to Package Search
  div.left
    +search(searchParam)
  div.right
    h1= latestVersion.name
    p Description: 
      span= latestVersion.description
    p Author: 
      a(href=author.email):= author.name
    p Homepage: 
      a(href=latestVersion.homepage) Link
    p Bugs: 
      a(href=bugs.url) Link
    p Keywords: 
      span= keywords = keywords
    p License:
      span= latestVersion.license
    p Dependencies:
      ul
      for key, val in dependencies
        li
          a(href="/package/"+val)= val
    p= JSON.stringify(pkg)
    p= JSON.stringify(latestVersion)